/*타이틀 css */
section{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif; */
    font-family: 'Poppins', sans-serif;
    padding: 5rem 0;
}
section.portfolio{
    background: pink;
}
section .title{
    margin-bottom: 2rem;
}
section .title h4{
    font-size: 1.5rem;
    color: #ed4848;
}
section .title h2{
    font-size: 3.5rem;
}
/*타이틀 css끝 */
section .portfolio-me{
    overflow:hidden;
}
section .portfolio-me .port-in{
    border: 1px solid blue;
    width: 30%;
    background: #fff;
    float: left;
    margin-right: 5%;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 3rem;
}
/*3번째 마다 margin-right 없애기*/
section .portfolio-me .port-in:nth-child(3n){
    margin-right: 0;
}
/*이미지 크기가 부모요소를 벗어나지 않도록*/
section .portfolio-me .port-in img{
    width: 100%;
}
section .portfolio-me .port-in p{
    color: #fa6a6a;
    margin: 0.5rem 0;
    font-weight: bold;
}
section .portfolio-me .port-in h3{
    font-size: 1.4rem;
}
